@font-face {
    font-family: 'ds-zombie-cyr';
    src: url('ds-zombie-cyr.eot');
    src: local('☺'), url('ds-zombie-cyr.woff') format('woff'), url('ds-zombie-cyr.ttf') format('truetype'), url('ds-zombie-cyr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

