@font-face {
	font-family: 'Conv_ds-zombie-cyr';
	src: url('fonts/ds-zombie-cyr.eot');
	src: local('☺'), url('fonts/ds-zombie-cyr.woff') format('woff'), url('fonts/ds-zombie-cyr.ttf') format('truetype'), url('fonts/ds-zombie-cyr.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

